@import "../../scss/utils";
.footer {
    gap: 2rem;
    align-items: center;
    background-color: #0a0a0a;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    // > * {
    //   outline: 1px solid rebeccapurple;
    // }
    > &__box {
        padding: 3rem;
    }
    @media (min-width: 26em) {
        grid-template-columns: minmax(25rem, 1fr) minmax(1rem, 6rem) minmax(25rem, 1fr);
    }
}

.footer__box {
    &--1 {
        grid-row: 1 / 2;
        grid-column: 1 /2;
        --flow-space: 3.2rem;
        display: grid;
        grid-template-columns: 1fr;
        position: relative;
        @include bp(desktop) {
            padding-left: 7rem;
        }
    }

    // &--1::after {
    //     // should've used a <hr />
    //     content: "";
    //     position: absolute;
    //     margin-top: 2rem;
    //     inset: auto 2rem -13% 2rem;
    //     padding: 0.2em;
    //     background-color: hsl(var(--clr-yellow-accent));

    //     @media (min-width: 26em) {
    //         inset: -12% -16% 0% auto;
    //         padding: 0.25em;
    //     }
    // }
}

.footer__box--2 {
    padding: 2em;
    display: grid;
    justify-items: center;
}

.boxBg {
    z-index: 1;
    > * {
        fill: #161616;
    }
}

.footer__col {
    --gap: 1rem;
    align-items: center;
}

.line {
    border: 0;
    border-top: 1px solid #fff;
    width: 19rem;
    margin-left: 4rem;
    margin-block: 3.2rem;
}

.footer__title__main {
    line-height: 30px;
    &:last-child {
        font-size: 1.5rem;
        @include bp(desktop) {
            font-size: 2.5rem;
        }
    }
}

.contacts > .line {
    align-self: center;
}

.footer__bg {
    height: 34rem;
    aspect-ratio: 1;
    justify-self: self-start;
    grid-row: 1/ 2;
    grid-column: 1 /2;
    > * {
        fill: #161616 !important;
    }
}

.footer__vb {
    grid-row: 2 / 3;
    grid-column: 1/2;
    align-self: center;
    justify-self: center;
    width: 80%;
    border: 2px solid hsl(var(--clr-yellow-accent));
    @media (min-width: 26em) {
        width: 0px;
        height: 100%;
        grid-row: 1/2;
        grid-column: 2/3;
        // transform: rotate(90deg);
    }
}
